@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --green: #4A6E4D;
    --white: hsl(0, 0%, 100%);
    --grey50:rgb(240, 243, 246);
    --grey100: hsl(214, 17%, 92%);
    --grey200: hsl(0, 0%, 81%);
    --grey400: hsl(224, 10%, 45%);
    --grey500: hsl(217, 19%, 35%);
    --darkBlue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);
    --softBlue: hsl(218, 73%, 96%);
    --cyan: hsl(178, 100%, 50%);
    --veryDarkBlueMain: hsl(217, 54%, 11%);
    --veryDarkBlueCard: hsl(216, 50%, 16%);
    --veryDarkBlueLine: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--veryDarkBlueCard);
    font-family: 'Outfit', 'sans-serif';
    margin: 40px;
}
.chat-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.chat-container h1, .chat-container h1 + p{
    text-align: center;
}

h1{
    margin-bottom: 5px;
}

.chat-container p{
    color: var(--veryDarkBlueLine);
}

.chat-input{
    min-width: 50em;
    max-width: 50em;
    height: 3.5em;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid var(--grey50);
    font-family: 'Outfit', 'sans-serif';
    background-color: var(--grey50);



}

.chat-input:focus{
    outline: none;
}

.messages-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
